header {
  margin: 8rem auto;
  padding: 10px;
  text-align: center;
  background: radial-gradient(circle at top left, #5b3d86, #0b0519);
}

img {
  width: 10%;
}

h1 {
  margin: 1rem auto;
  background: -webkit-linear-gradient(45deg, #f9096d, #b700ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
